/* Navbar styling */

.Navbar {
  padding: 20px;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.Navbar__icon {
  padding: 20px;
  border-radius: 50%;
  margin-right: 40px;

  background: #e8e8e8;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.3s linear;
  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #ffffff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.35),
    inset -8px -8px 8px rgba(255, 255, 255, 0.3);
}

.Navbar__icon:hover {
  box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #ffffff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  transform: translateY(2px);
  color: #a8df65;
}

.search__input {
  display: flex;
}

.search__input input {
  outline-width: 0;
  padding: 15px;
  border-radius: 20px 0 0 20px;
  border: none;
  box-shadow: 4px 4px 4px #c8c8c8 inset, -4px -4px 4px white inset;background-color: transparent;
}

.search__input input:focus{
  box-shadow: 2px 2px 2px #c8c8c8 inset, -2px -2px 2px white inset;
}


.Search__icon {
  padding: 10px;


  border-radius: 0 20px 20px 0;
}

.search__input__button button {
  border: 0px solid #c8c8c8 ;
cursor: pointer;
  border-radius: 0 20px 20px 0;

  box-shadow: 2px 2px 5px #c8c8c8, -2px -2px 5px white;
  transition: box-shadow .2s;
}

input[type="text"] {
  font-size: 1.1rem;
}
