@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  padding: 0px !important;
  box-sizing: border-box;
  background-color: #f2f4fb;
  font-family: "Poppins", sans-serif !important;
}
